In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

pd.set_option('display.max_columns', None)

from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, roc_auc_score
from xgboost import XGBClassifier

In [3]:
df = pd.read_excel(r"C:\Users\pc\Documents\JUPYTER ML\Insurance Fraud Detection Model\data\US Insurance Claims Data (1).xlsx")
df.head(5)

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,154,34,795697,2022-03-30 19:28:31.971,IL,500/1000,998,856.999452,3998347,419228,FEMALE,Associate,priv-house-serv,yachting,husband,800,0,2023-11-26 16:56:09.937,Multi-vehicle Collision,Front Collision,Minor Damage,Other,SC,Columbus,9489 3rd St,9,3,NO,2,1,?,67253,11362,11390,46297,Ford,F150,1997,N
1,172,36,792268,2001-04-27 22:40:12.961,OH,250/500,987,1282.389619,0,420170,MALE,College,machine-op-inspct,basketball,unmarried,51203,0,2018-02-14 10:45:28.353,Single Vehicle Collision,Rear Collision,Total Loss,Fire,SC,Springfield,9818 Cherokee Ave,22,1,YES,2,3,NO,52481,9427,9428,33509,Accura,MDX,1980,N
2,353,47,568504,2011-12-25 09:00:46.445,IN,250/500,1976,1145.490048,0,421251,MALE,High School,prof-specialty,camping,husband,0,0,2021-01-25 02:32:56.598,Single Vehicle Collision,Side Collision,Minor Damage,Other,SC,Columbus,2862 Tree Ridge,5,1,YES,0,3,?,62665,5441,11077,44771,Dodge,RAM,2010,N
3,47,37,971810,2021-12-17 10:10:11.341,IN,250/500,1999,1255.267879,0,421620,MALE,High School,other-service,movies,not-in-family,74892,0,2023-10-29 03:24:47.309,Parked Car,?,Minor Damage,NaN,NY,Hillsdale,8749 Tree St,18,1,NO,1,0,NO,6614,670,667,5423,Jeep,Wrangler,1983,N
4,301,50,898345,2001-01-25 21:42:10.693,IL,100/300,1995,1376.096761,0,421961,FEMALE,High School,farming-fishing,bungie-jumping,own-child,0,-42222,2018-01-20 00:28:30.891,Multi-vehicle Collision,Front Collision,Total Loss,Fire,NY,Hillsdale,5924 Maple Drive,21,3,YES,0,2,?,66431,12218,6086,48589,Volkswagen,Jetta,2036,N